.space-between {
  display: flex;
  justify-content: space-between;
  color: black;
}
.space-between p {
  color: black;
}
.books {
  width: 150px;
}
.stack {
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 20px;
  overflow: hidden;
  color: white;
}

.header-text {
  position: relative;
}
.image {
  width: 100%;
}
.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(50, 116, 210);
  height: 30px;
  width: 60px;
  border-radius: 10px;
}
.space-evenly {
  padding: 10px;
}
.button img {
  width: 20px;
  margin-left: 8px;
}
.button h6 {
  color: white;
  font-size: 14px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container div {
  padding: 5px;
}
.games,
.crafts {
  width: 150px;
}
footer {
  background-color: black;
  padding: 20px;
}
footer img {
  width: 80px;
  border-radius: 50%;
}
footer h3,
p {
  color: white;
}
@media screen and (max-width: 480px) {
  * {
    margin-left: 10px;
    margin-right: 10px;
  }
  .stack {
    font-size: 8px;
    padding: 5px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .space-between p {
    font-weight: bolder;
  }
  .books,
  .games,
  .crafts {
    width: 100%;
  }
  .button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: skyblue;
  }
  .button img {
    width: 20px;
    height: 20px;
  }
}
